body {
    font-family: Arial, sans-serif;/*Fonte do texto*/
    background: #F5F6FA; /*Cor do fundo*/
    color: #2C3E50; /*Cor das letras*/
    display: flex; 
    justify-content: center; /*Deixar no meio*/
    align-items: flex-start;
    height: 100vh;
    padding: 20px;/*Espaçamento interno*/
}

.container {
    background: #FFFFFF;
    border: 1px solid #E0E0E0; /*tamanho e cor da borda*/
    border-radius: 10px; /*Borda arredondada*/
    padding: 20px;
    width: 450px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /*sombra do container*/
}

h1 {
    text-align: center; /*Texto no meio*/
    margin-bottom: 15px; 
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select {
    color: #2C3E50;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #2ECC71;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #27AE60;
}

/* TOTAL */
h2 {
    margin-top: 15px;
    text-align: center;
}

/* TABELA */
table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th {
    background: #2ECC71;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* BOTÃO EXCLUIR */
.remover {
    background: #E74C3C;
    padding: 5px 10px;
    border-radius: 5px;
}

.remover:hover {
    background: #C0392B;
}

/* VALOR ALTO (>100) */
.alto {
    background: #FF6B6B;
    color: white;
    font-weight: bold;
}